#loader span{
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
}
#upload_buttons.table button{
    font-size:12px !important;
    height: 29px;
    float: right;
    margin:2px 9px;
}
#uploadfiles_table{
    width: 90px !important;
}
div.thumb_container{
    width: 32%;
    float: left;
    background-color: #EFEFEF;
    border: solid 1px #aaa;
    text-align: center;
    height: 159px;
    margin: 4px;
    position: relative;
}
div.thumb_container .file_name{
    font-size: 12px !important;
    margin-top: .5em;
}
#table_cont{
    width:40%;
    float:left;
    height:100%;
}

div#filelist {
    border-left:solid 1px #aaa;
    border-right:solid 1px #aaa;
    min-height:162px;
}
div#filelist div:nth-child(2n+1){
    background-color: #eee;
}
#filelist{
    width: 100%;
}
#filelist #table_header{
    width: 100%;
    overflow:  auto;
    /* for W3C-compliant browsers */
    background-image: linear-gradient(top, rgba(255,255,255,255) 3%, rgba(231,231,231,255) 65%, rgba(207,207,207,255) 95%);
    /* for Safari 5.03+ and Chrome 7+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.031596079766670004, rgba(255,255,255,255)), color-stop(0.6508791, rgba(231,231,231,255)), color-stop(0.95345055830403, rgba(207,207,207,255)));
    /* for Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, rgba(255,255,255,255) 3%, rgba(231,231,231,255) 65%, rgba(207,207,207,255) 95%);
    /* for Opera 11.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,255) 3%, rgba(231,231,231,255) 65%, rgba(207,207,207,255) 95%);
    /* for IE */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7e7e7'endColorstr='#cfcfcf');
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}
#table_header th{
height:25px;
text-align:center;
padding-top:.7em;
font-size: 12px !important;
font-weight: bold;
}

#head_archivo{
    width: 30%;
    border-right: solid 1px #aaa;
}
#head_size{
    width: 15%;
    text-align: center;
    border-right: solid 1px #aaa;
}
#head_progress{
    width: 54%;
}
.progreso span{
    float:left;
}


#uploader_cont {
margin-top:1em;
}

.thumbs .uploaded_img{
    max-height: 100px;
    margin: auto;
    max-width:130px;
}
#thumbs_cont{
    min-height:200px;
    border-top: solid 1px #aaa;
    border-right: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    width:59%;
    float:left;
}
.thumb_img_cont{
    padding-top: 6px;
    width:131px;
    height:131px;
    float:left;
    margin-left: 1em;
}
.file_name{
    display: block;
    text-align: left;
    margin-left: 1em;
}
.hidden{
    display: none;
}
#progress-bar {
   background: url(../images/empty_progress_bar.png) no-repeat left center;
   width: 110px;
   height: 20px;
   margin: -.4em 0 0 3em;
}
#progress-level {
   background: url(../images/full_progress_bar.png);
   background-repeat: no-repeat;
   background-position: left center;
   width:0; /* SET THIS TO GET THE DESIRE LEVEL */
   height: 20px;
}